# personal files
notes.md

## env files
.env
*/.env
*.env.local

## IDEs and editors
.idea/
.DS_Store
.vscode/

# dependencies
node_modules/
*/node_modules

# build outputs
dist/
*/build/
*/dist/
dist/

# temporary files and
*.tmp
*.log
temp/
npm-debug.log*

# workspace files
*/coverage/
*.code-workspace

